<div class="body">
  <div>
      <h1>Resume Templates</h1>
  </div>
  <div class="bar flex flex justify-center m-top-7 flex-nowrap">
      <a href="#" class="one">All templates</a>
      <a href="#" class="one">Modern</a>
      <a href="#" class="one">Traditional</a>
      <a href="#" class="one">Simple</a>
      <a href="#" class="one">Creative</a>
  
  </div>
  <div class="row">
      
      <div class="card" style="width: 18rem;">
          <a href="#"><img class="card-img-top" src="assets/images/page1.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="#"><img class="card-img-top" src="assets/images/page2.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="#"><img class="card-img-top" src="assets/images/page3.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
         <a href="#"> <img class="card-img-top" src="assets/images/page4.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
         <a href="#"> <img class="card-img-top" src="assets/images/page5.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="#"><img class="card-img-top" src="assets/images/page1.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="#"><img class="card-img-top" src="assets/images/page2.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="#"><img class="card-img-top" src="assets/images/page3.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="#"><img class="card-img-top" src="assets/images/page4.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <a href="#"><img class="card-img-top" src="assets/images/page5.jpeg" alt="Card image cap"></a>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
  
  </div>
  

</div>