


    <div >
    <div class="row slider-text align-items-center" data-scrollax-parent="true" style="background: linear-gradient(45deg, #fb83b5 0%, #9a51ff 100%);">

        <div class="col-md-5 wrap col-sm-12 ftco-animate fadeInUp ftco-animated" data-scrollax=" properties: { translateY: '70%' }" style="">
          <h1 class="mb-4 mt-1 mx-5" style="color: black;margin-left: 10px;">Matchmaking your skills with a perfect job</h1>
          <p class="mx-5"  style="color: black;margin-left: 10px;">We are here to provide the finest recommendations to both employees as well as employers.</p>
          <p><a  routerLink="/steps" routerLinkActive="current" class="btn btn-primary p-3 px-xl-5 py-xl-3 mx-5" style="border-radius: 30px;margin-left: 10px;margin-right: 10px;">Get started</a> <a href="#feature-list" class="btn btn-primary btn-primary-2 p-3 px-xl-5 py-xl-3 "style="border-radius: 30px;margin-left: 10px;margin-right: 10px;">Read more</a></p>
        </div>
        <div class="col-md-7 ftco-animate fadeInUp ftco-animated">
            <img src="assets/images/Group2.png" >
        </div>

      </div>        


              
<!--  *** About Us Starts Here **** -->    
       
    <div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>About Our Work</h2>
                <p>This is a platform where a user can login and can get many templates for resume and can make a resume in just few minutes.Also our sysytem enables the feature of making a resume from old resume into a new template. The user dont have to put details again and again.Once the user have completed the our system lets the user to have a preview of what their resume will look of the selected template. Also the user can download pdf and word files of their resume </p>
                <p> Our system also have kept the contact of professionals to whom the user can send their resume for approval.All the facilites gets enabled with our premium options. Also some higher level templates will be available in premium. Also when the user is filling the cetails we will grammarly to autocorrect spellings and also wordtune to suggest some better words. </p>

                <!-- <p>Integer vulputate vehicula dolor a eleifend. Duis aliquam condimentum sapien,
                    eget tempor justo. Aenean porttitor nibh metus, sollicitudin egestas metus posuere et
                    . Fusce egestas volutpat metus, in sodales sem bibendum porta. Nunc hendrerit nunc sit
                    amet tellus posuere, at malesuada sem gravida. Integer maximus ultricies augue, at
                    dapibus elit bibendum consequat. Cras faucibus tellus eleifend, fermentum purus in,
                    dapibus sapien. Praesent nec ornare risus. Etiam iaculis, ligula vel gravida
                    vestibulum, urna justo posuere ante,
                    id pretium massa arcu sed mi. Nunc a sollicitudin sem. Duis tempus </p> -->
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <fa-icon [icon]="icons.templates" class="rounded-circle me-2 fa-3x" ></fa-icon>
                            <p>Get Templates</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <fa-icon [icon]="icons.higherConnect" class="rounded-circle me-2 fa-3x" ></fa-icon>
                            <i class="fa fa-inr text-danger" aria-hidden="true"></i>
                            <p>Higher Connect</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <fa-icon [icon]="icons.grammarly" class="rounded-circle me-2 fa-3x" ></fa-icon>
                            <i class="fa fa-dot-circle-o text-warning" aria-hidden="true"></i>
                            <p>Grammarly</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                            <fa-icon [icon]="icons.pdf" class="rounded-circle me-2 fa-3x" ></fa-icon>
                            <i class="fa fa-handshake-o text-primary" aria-hidden="true"></i>
                            <p>PdfFormat</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   




  


<div class="doctor-message" bg-light style="background: linear-gradient(45deg, #fb83b5 0%, #9a51ff 100%);">
    <div class="inner-lay">
        <div class="container">
           <div class="row session-title">
               <h2>Our Achievemtns in Numbers</h2>
               <p>We can talk for a long time about advantages of our Top-Notch.
But you can read the following facts in order to make sure of all pluses of our website</p>
           </div>
            <div class="row">
                <div class="col-sm-3 numb">
                    <h3>100+</h3>
                    <span>Number of Students</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>10000+</h3>
                    <span>Resume Templates </span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>30+</h3>
                    <span>Professionals</span>
                </div>
                <div class="col-sm-3 numb">
                    <h3>70+</h3>
                    <span>Happy Users</span>
                </div>
            </div>
        </div>

    </div>

</div> 

     
      




      
     <section class=" bg-grey" id="feature-list">
        <div class="container">
          <div class="row justify-content-center mb-5 pb-3 mt-5">
            <div class=" text-center heading-section ftco-animate">
              <h2 class="mb-4">The System Features</h2>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </div>
          </div>
          <div class="row">
          
            <div id="cards" class="col-md-3" style="margin-right: 95px;" >
              <div class="">
                
                <div class="media-body p-2 mt-3">
                    <div class="rounded-circle  align-items-center justify-content-center">
                        <fa-icon [icon]="icons.scratch" class="rounded-circle me-2 fa-3x" ></fa-icon>
                        
                      </div>
                    <br>
                  <h3 class="heading">Not from Scratch</h3>
                 
                  <p>It helps one to put an od built resume por unfinished resume so the user dooesnt have to put all details again nto it</p>
                </div>
              </div>    
            </div>
            <div id="cards" class="col-md-3 " style="margin-right: 95px;" >
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-support"></span>
                  </div>
                </div>
                <div  class="media-body p-2 mt-3">
                    <div class="rounded-circle mr-3 align-items-center justify-content-center">
                        <fa-icon [icon]="icons.qrcode" class="rounded-circle me-2 fa-3x" ></fa-icon>
                        <span class="flaticon-support"></span>
                      </div>
                  <h3 class="heading">QR Code </h3>
                  <p>There will be a QR code availabe in the pdf of the resume which when scanned can show the details of the user </p>
                </div>
              </div>      
            </div>
            <div id="cards" class="col-md-3">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-cloud-computing"></span>
                  </div>
                </div>
                <div class="media-body p-2 mt-3">
                    <div class="rounded-circle mr-3 align-items-center justify-content-center">
                        <fa-icon [icon]="icons.higherConnect" class="rounded-circle me-2 fa-3x" ></fa-icon>
                        <span class="flaticon-support"></span>
                      </div>
                  <h3 class="heading">Higher Connect</h3>
                  <p>User can connect to professional for getting their resumes verified</p>
                </div>
              </div>      
            </div>
            <div id="cards" class="col-md-3 d-flex align-self-stretch ftco-animate" style="margin-right: 75px;">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-settings"></span>
                  </div>
                </div>
                <div class="media-body p-2 mt-3">
                    <div class="rounded-circle mr-3 align-items-center justify-content-center">
                        <fa-icon [icon]="icons.templates" class="rounded-circle me-2 fa-3x" ></fa-icon>
                        <span class="flaticon-support"></span>
                      </div>
                  <h3 class="heading">Modern Templates</h3>
                  <p>As the formatting and templates of resume keeps on changing our website will keep on updating to the latest one</p>
                </div>
              </div>    
            </div>
            <div id="cards" class="col-md-3 d-flex align-self-stretch ftco-animate" style="margin-right: 75px;">
              <div class="media block-6 services d-block text-center">
                <div class="d-flex justify-content-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-loading"></span>
                  </div>
                </div>
                <div class="media-body p-2 mt-3">
                    <div class="rounded-circle mr-3 align-items-center justify-content-center">
                        <fa-icon [icon]="icons.wordtune" class="rounded-circle me-2 fa-3x" ></fa-icon>
                        <span class="flaticon-support"></span>
                      </div>
                  <h3 class="heading">WordTune</h3>
                  <p>WordTune is a system which will suggest better framming and removal of the redundtant words </p>
                </div>
              </div>      
            </div>
              <div id="cards" class="col-md-3 d-flex align-self-stretch ftco-animate">
              <div>
                <div class="d-flex justify-content-center">
                  <div class="icon d-flex align-items-center justify-content-center">
                    <span class="flaticon-guarantee"></span>
                  </div>
                </div>
                <div class="media-body p-2 mt-3">
                    <div class="rounded-circle mr-3 align-items-center justify-content-center">
                        <fa-icon [icon]="icons.categories" class="rounded-circle me-2 fa-3x" ></fa-icon>
                        <span class="flaticon-support"></span>
                      </div>
                  <h3 class="heading">Categories</h3>
                  <p>They will be different categories that are available and different templates for all those</p>
                </div>
              </div>      
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="ftco-section ftco-partner">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate fadeInUp ftco-animated">
            <h2 class="mb-4">Our Candidates interests</h2>
          
          </div>
        </div>
    		<div class="row">
    			<div class="col-sm ftco-animate fadeInUp ftco-animated">
    				<a href="#" class="partner"><img src="images/partner-1.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate fadeInUp ftco-animated">
    				<a href="#" class="partner"><img src="images/partner-2.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate fadeInUp ftco-animated">
    				<a href="#" class="partner"><img src="images/partner-3.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate fadeInUp ftco-animated">
    				<a href="#" class="partner"><img src="images/partner-4.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    			<div class="col-sm ftco-animate fadeInUp ftco-animated">
    				<a href="#" class="partner"><img src="images/partner-5.png" class="img-fluid" alt="Colorlib Template"></a>
    			</div>
    		</div>
    	</div>
    </section> -->
    <section>
        

<h1 style="text-align: center;
margin-top: 56px;margin-bottom: 50px;">How it Works</h1>
<!-- <div class="bar flex flex justify-center m-top-7 flex-nowrap">
    <button class="one">candidate Dashboard</button>
    <button class="one">Test Analysis</button>
    <button class="one">Report Generalisation</button>
    <button class="one">User Profile</button>
    <button class="one">Aicte Dashboard</button>

</div> -->
<div>
    <body>
        <!-- <div class="container">
          <div class="image">
            <img src="https://i.pinimg.com/564x/59/32/29/593229739184504afd9507cc42a9cb86.jpg" >
          </div>
          <div class="text">
            <h1>Paris is one of the most magnificient cities in France.a</h1>
          </div>
        </div> -->
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
            <li [ngbNavItem]="1" >
                <a ngbNavLink style="text-decoration:none;color: black;">Search Templates</a>
                <ng-template ngbNavContent>
                    <div class="container" style="display: flex;
                    align-items: center;
                    justify-content: center">
                        <div class="image">
                          <img src="assets/images/search.png" width="70%" height="20%">
                        </div>
                        <div class="text">
                          <p> Once you get into the website now you have the option of searching the templates. You can search the templates view how those look and can start editing.</p>
                        </div>
                      </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink style="text-decoration:none;color: black;">Use Template</a>
                <ng-template ngbNavContent>
                    <div class="container" style="display: flex;
                    align-items: center;
                    justify-content: center">
                        
                        <div class="text">
                            <p>Once you like a template you can then click on it then a form will be generated in the format of resume you can start filling the details.</p>
                        </div>
                        <div class="image">
                          <img src="assets/images/form.jpeg"  width="70%" height="20%" >
                        </div>
                        
                    </div>  
                </ng-template>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink style="text-decoration:none;color: black;">Preview</a>
                <ng-template ngbNavContent>
                    <div class="container" style="display: flex;
                    align-items: center;
                    justify-content: center">
                        <div class="image">
                          <img src="assets/images/Preview.jpeg"  width="70%" height="20%">
                        </div>
                        <div class="text">
                          <p> Once you have filled the form now you can have a look on does it looks. This will give you priview of the resume</p>
                        </div>
                      </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink style="text-decoration:none;color: black;">Download</a>
                <ng-template ngbNavContent>
                    <div class="container" style="display: flex;
                    align-items: center;
                    justify-content: center">
                        <div class="image">
                          <img src="assets/images/Download.jpeg"  width="70%" height="20%">
                        </div>
                        <div class="text">
                          <p> If you feel okay how the pdf will look of the resume uou can downlod it in various formats word,pdf</p>
                        </div>
                      </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="5">
                <a ngbNavLink style="text-decoration:none;color: black;">Higher Connect</a>
                <ng-template ngbNavContent>
                    <div class="container" style="display: flex;
                    align-items: center;
                    justify-content: center">
                        
                        <div class="text">
                            <p>If you wann averify from professionals you have an higher connect option available. they will verify you resume and give you a feedback</p>
                        </div>
                        <div class="image">
                          <img src="assets/images/high.jpeg"  width="70%" height="20%">
                        </div>
                        
                    </div>  
                </ng-template>
            </li>
        </ul>
        
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        
        <!-- <pre>Active: {{ active }}</pre> -->
        </body>
</div>
    </section>
  <footer class="footer" style="margin-top: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h2>About Us</h2>
                <p>
                    Top-Notch is a leading provider of information technology, consulting, and business process services. Our dedicated employees offer strategic insights, technological expertise and industry experience.
                </p>
                <p>We focus on technologies that promise to reduce costs, streamline processes and speed time-to-market, Backed by our strong quality processes and rich experience managing global... </p>
            </div>
            <div class="col-md-4 col-sm-12">
                <h2>Useful Links</h2>
                <ul class="list-unstyled link-list">
                    <li><a ui-sref="about" href="#/about">About us</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="portfolio" href="#/portfolio">Portfolio</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="products" href="#/products">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="gallery" href="#/gallery">Gallery</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="contact" href="#/contact">Contact us</a><i class="fa fa-angle-right"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 map-img">
                <h2>Contact Us</h2>
                <address class="md-margin-bottom-40">
                    <!-- BlueDart <br> -->
                    Thane () District) <br>
                    Maharashtra, IND <br>
                    Phone: +91 998776655 <br>
                    Email: <a href="mailto:info@anybiz.com" class="">topNotch@gmail.com</a><br>
                    Web: <a href="" class="">www.top-notch.in</a>
                </address>

            </div>
        </div>
        
        
        <div class="nav-box row clearfix">
            <div class="inner col-md-9 clearfix">
                <ul class="footer-nav clearfix">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Servies</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>

              
            </div>
              <div class="donate-link col-md-3"><a href="donate.html" class="btn btn-primary "><span class="btn-title">Donate Now</span></a></div>
        </div>
        
    </div>
    

</footer>
<div class="copy">
        <div class="container">
            <a href="#">2022 &copy; All Rights Reserved By Our Team</a>
            
            <span>
            <a><i class="fa fa-github-square" aria-hidden="true"></i></a>
            <a><i class="fa fa-google-plus-official" aria-hidden="true"></i></a>
            <a><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
            <a><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
            <a><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    </span>
        </div>

    </div>
</div>